.code-item-wrapper {
	display: inline-block;
	height: 100%;
    vertical-align: top;
    padding: 32px;

    .code-item-name {
    	width: calc(100% - 48px);
    	display: inline-block;
		height: 48px;
		line-height: 48px;
		margin-bottom: 12px;
		border: none;
		border-bottom: 1px solid #e5e5e5;
	}

	.code-zoom-btn {
		height: 32px;
		line-height: 32px;
		text-align: right;
		cursor: pointer;
		font-size: 16px;

		.code-zoom-btn-icon {
			font-size: 20px;
			margin-left: 8px;
			vertical-align: middle;
		}
	}

	.code-item-fav-btn {

		i {
			width: 48px;
			height: 48px;
			line-height: 48px;
			font-size: 28px;
			cursor: pointer;
			color: #999;
		}
		
		display: inline-block;	
		vertical-align: top;
	}

	.code-item-name:focus {
		border-bottom: 1px solid #e5e5e5;
		box-shadow: none;
	}

	.code-item-content-root {
		width: 500px;
		-webkit-app-region: no-drag;
	}
}

.code-item-wrapper-preview {
	.code-item-name {

	}

	.code-item-content {

	}
}