@import '~antd/dist/antd.css';
$borderColor: #CBCCD0;

html, body, :global(#root) {
  height: 100%;  
  width: 100%;
  -webkit-app-region: drag;
}

#eku-root {
	height: 100%;
}

::selection {
	color: #fff;
	background: #8bb8ed;
}

.flex-center-middle {
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}